@tailwind base;
@tailwind components;
@tailwind utilities;

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body{
    background-color: #F5F6F9 !important;
}

.shadow {
    box-shadow: 0 0 5px 0 rgba( 0, 0, 0, 0.08) !important;
}

.button-blue {
    background-color: #47cdff;
    color: #fff !important;
    text-decoration: none !important;
    border-radius: 0.5rem;
    box-shadow: 0 2px 7px 0 #b0eaff;
    font-size: 14px;
}

.border-blue-custom {
    border-radius: 1px;
    border-color: #8ae2fe;
}

.no-decoration {
    text-decoration: none !important;
}
